<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anorlddroid.smartloan" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLoan"
        android:usesCleartextTraffic="true" >

        <activity
            android:name=".mainui.about.AboutActivity"
            android:theme="@style/Theme.SmartLoan.NoActionBar" />
        <activity
            android:name=".registration.MpesaNumberActivity"
            android:theme="@style/Theme.SmartLoan.NoActionBar" />
        <activity
            android:name=".registration.signup.SignUpActivity"
            android:theme="@style/Theme.SmartLoan.NoActionBar" />
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:theme="@style/Theme.SmartLoan.NoActionBar" />
        <activity
            android:name=".registration.RegistrationPaymentActivity"
            android:theme="@style/Theme.SmartLoan.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.SmartLoan" />
        <activity
            android:name=".registration.SignInActivity"
            android:theme="@style/Theme.SmartLoan.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>